<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>SpringBoot模版渲染</title>
	<script type="text/javascript" th:src="@{/js/main.js}"></script> 
	<link rel="icon" type="image/x-icon" href="/images/mldn.ico"/>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
	<div th:object="${member}">
		<p th:text="'用户编号：' + *{mid}"/>
		<p th:text="'用户姓名：' + *{name}"/>
		<p th:text="'用户年龄：' + *{age}"/>
		<p th:text="'用户工资：' + *{salary}"/>
		<p th:text="'出生日期：' + *{birthday}"/>
		<p th:text="'出生日期：' + *{#dates.format(birthday,'yyyy-MM-dd')}"/>
	</div>
</body>
</html>